{% extends 'base.html' %}

{% block title %}Update Product{% endblock title %}

{% block sidebarvp %}active{% endblock sidebarvp %}

{% block body %}

    <div class="page-wrapper">
        <div class="content">
            <div class="page-header">
                <div class="page-title">
                    <h4>Product Management</h4>
                    <h6>Update Product</h6>
                </div>
            </div>
            <div class="card">
                <div class="card-body">
                    <form id="productform" action="/product/updateproduct/{{ products[0].sku }}" method="POST">
                        <div class="row">
                            <div class="row col-6">
                                <div class="col-lg-6 col-sm-6 col-12">
                                    <div class="form-group">
                                        <label>Product Name</label>
                                        <input type="text" id="productName" name="productName"
                                               value="{{ products[0].product_name }}" required>
                                    </div>
                                </div>

                                <div class="col-lg-6 col-sm-6 col-12">
                                    <div class="form-group">
                                        <label>SKU</label>
                                        <div class="input-group">
                                            <input type="text" class="form-control" id="sku"
                                                   value="{{ products[0].sku }}"
                                                   readonly required>
                                            <input type="hidden" id="sku1" name="sku" value="{{ products[0].sku }}"
                                                   required>
{#                                            <button class="btn btn-outline-secondary" type="button" id="scanButton">Scan#}
{#                                            </button>#}
                                        </div>
                                    </div>
                                </div>

                                <div class="col-lg-6 col-sm-6 col-12">
                                    <div class="form-group">
                                        <label>Price</label>
                                        <input type="number" id="price" name="price" value="{{ products[0].price }}"
                                               required minlength="2" maxlength="7"
                                               onkeypress="return (event.charCode >= 48 && event.charCode <= 57)">
                                    </div>
                                </div>

                                <div class="col-lg-6 col-sm-6 col-12">
                                    <div class="form-group">
                                        <label>Min Qty</label>
                                        <input type="number" id="min" name="min" value="{{ products[0].min }}"
                                               required minlength="2" maxlength="5"
                                               onkeypress="return (event.charCode >= 48 && event.charCode <= 57)">
                                    </div>
                                </div>

                                <div class="col-lg-6 col-sm-6 col-12">
                                    <div class="form-group">
                                        <label>Max Qty</label>
                                        <input type="number" id="max" name="max" value="{{ products[0].max }}"
                                               required minlength="2" maxlength="5"
                                               onkeypress="return (event.charCode >= 48 && event.charCode <= 57)">
                                    </div>
                                </div>

                                <div class="col-lg-6 col-sm-6 col-12">
                                    <div class="form-group">
                                        <label>Unit</label>
                                        <input type="text" id="unit" name="unit" value="{{ products[0].unit }}"
                                               required minlength="1" maxlength="3"
                                               onkeypress="return (event.charCode >= 48 && event.charCode <= 57)">
                                    </div>
                                </div>

                                <div class="col-lg-6 col-sm-6 col-12">
                                    <div class="form-group">
                                        <label>Area</label>
                                        <select class="select" id="area" name="area" required>
                                            <option value="{{ products[0]['area_info'][0]['_id'] }}">{{ products[0]['area_info'][0]['area_name'] }}</option>
                                            {% for area in areas %}
                                                <option value="{{ available_areas['_id'] }}">{{ available_areas.area_name }}
                                                    (Box: {{ available_areas.no_box }})
                                                </option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>

                                <div class="col-lg-6 col-sm-6 col-12">
                                    <div class="form-group">
                                        <label>Status</label>
                                        <select class="select" id="status" name="status" required>
                                            <option value="available"
                                                    {% if products[0].status == 'available' %}selected{% endif %}>
                                                Available
                                            </option>
                                            <option value="not_available"
                                                    {% if products[0].status == 'not_available' %}selected{% endif %}>
                                                Not
                                                Available
                                            </option>
                                        </select>
                                    </div>
                                </div>

                                <div class="col-lg-12">
                                    <div class="form-group">
                                        <label>Description</label>
                                        <textarea class="form-control" id="description" name="description"
                                                  rows="2">{{ products[0].description }}
                                    </textarea>
                                    </div>
                                </div>

                            </div>
                            <div class="row col-6">
                                <div class="col-lg-12">
                                    <div class="form-group">
                                        <label>Product Image</label>
                                        <div class="custom-file-container" data-upload-id="myFirstImage">
                                            <label>Upload (Single File)
                                                <a href="javascript:void(0)" class="custom-file-container__image-clear"
                                                   title="Clear Image">x</a></label>
                                            <label class="custom-file-container__custom-file">
                                                <input type="file" accept="image/*" name="photo"
                                                       class="custom-file-container__custom-file__custom-file-input">
                                                <input type="hidden" name="MAX_FILE_SIZE" value="10485760"/>
                                                <span class="custom-file-container__custom-file__custom-file-control"></span>
                                            </label>
                                            <div class="custom-file-container__image-preview"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <button type="submit" href="javascript:void(0);" class="btn btn-submit me-2">Submit
                                </button>
                            </div>
                            <div class="message" id="message"></div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <script>
        document.getElementById('scanButton').addEventListener('click', function () {
            fetch('/scan')
                .then(response => response.json())
                .then(data => {
                    if (data.barcode) {
                        document.getElementById('sku').value = data.barcode;
                        document.getElementById('sku1').value = data.barcode;
                    } else {
                        console.error('No barcode detected.');
                    }
                })
                .catch(error => {
                    console.error('Error:', error);
                });
        });
    </script>

{% endblock body %}

