<!DOCTYPE html>
<html lang="en">
<head>
    <title>WMS - Forget Password</title>

    <link rel="shortcut icon" type="image/x-icon" href="/static/assets/img/favicon.png">

    <link rel="stylesheet" href="/static/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/assets/plugins/fontawesome/css/fontawesome.min.css">
    <link rel="stylesheet" href="/static/assets/plugins/fontawesome/css/all.min.css">
    <link rel="stylesheet" href="/static/assets/css/style.css">
</head>
<body class="account-page">

<div class="main-wrapper">
    <div class="account-content">
        <form method="POST" action="/forgotpassword/reset">
            <div class="login-wrapper">
                <div class="login-content">
                    <div class="login-userset">
                        <div class="login-logo">
                            <img src="/static/assets/img/logo.png" alt="img">
                        </div>
                        <div class="login-userheading">
                            <h3>Forget Password</h3>
                            <h4>Please enter valid Email id</h4>
                        </div>
                        <div class="form-login">
                            <label>Email</label>
                            <div class="form-addons">
                                <input type="email" id="email" name="email" placeholder="Enter your email address"/>
                                <img src="/static/assets/img/icons/mail.svg" alt="img">
                            </div>
                        </div>

                        <div class="form-login">
                            <button class="btn btn-login" type="submit">Send Reset Link</button>
                        </div>
                    </div>
                </div>
                <div class="login-img">
                    <img src="/static/assets/img/login.jpg" alt="img">
                </div>
            </div>
        </form>
    </div>
</div>


<script src="/static/assets/js/jquery-3.6.0.min.js"></script>
<script src="/static/assets/js/feather.min.js"></script>
<script src="/static/assets/js/bootstrap.bundle.min.js"></script>
<script src="/static/assets/js/script.js"></script>
</body>
</html>